COMPOSE_PROJECT_NAME=traffic-engine
MONGO_PORT=27017
MONGO_WIREDTIGER_CACHE_GB=0.5

MONGO_ROOT_USER=mongo_root
MONGO_ROOT_PASSWORD=change_me_root_password
MONGO_INITDB_DATABASE=admin

MONGO_APP_DATABASE=traffic_engine
MONGO_APP_USER=traffic_engine_app
MONGO_APP_PASSWORD=change_me_app_password

MONGODB_DATABASE=traffic_engine
MONGODB_APP_NAME=traffic-engine-api
MONGODB_URI=mongodb://traffic_engine_app:change_me_app_password@127.0.0.1:27017/traffic_engine?authSource=traffic_engine&authMechanism=SCRAM-SHA-256&directConnection=true&maxPoolSize=30&minPoolSize=1&maxIdleTimeMS=60000&connectTimeoutMS=5000&serverSelectionTimeoutMS=5000&socketTimeoutMS=10000&waitQueueTimeoutMS=5000